.form-container {
	display: grid;
	justify-content: center;
	text-align: center;
}

.item-form {
	margin: 15px;
	display: flex;
	flex-direction: column;	
}

.list {
	display: flex;
	/* flex: 2; */
	flex-direction: column;
	list-style-type: none; /* Remove bullets */
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
}

.remove-button {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
